

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table-container {
  justify-content: center;
  display: flex;
  align-items: center;
  width : 100%;
  height: 90vh;
}
.table {
  background-color: aquamarine;
  border: 1px solid black;
  width: 40%;
}
th {
  height: 40px;
  text-align: center;
}

tr {
  height: 20px;
}
td {
  text-align: center;
}